---
title: "Você Fiscal — Instruções e material #vemproBU"
---
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Início</a></li>
      <li><a href="/carta-aberta">Carta aberta</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li class="active"><a href="/vemproBU">Instruções</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
    <h3 class="text-muted"><a href="/">Você Fiscal</a></h3>
  </div>

  <div class="row text-center">
    <h1>Pratique, imprima e divulgue! #vemproBU</h1>
    <p>Veja abaixo como tirar fotos do BU no dia da eleição sem ter o aplicativo do Você Fiscal (qualquer celular com câmera ou câmera digital serve).</p>
    <p><strong>Clique na imagem</strong> para baixar o arquivo em alta resolução para impressão. (Imprima uma vez e tire fotocópias, sai mais barato que imprimir várias.)</p>
    <p>Ah, e não se esqueça de <a href="http://somos.vocefiscal.org" target="_blank">adotar sua zona eleitoral!</a></p>
    <a href="/images/a4_PB.jpg" download="cartaz-vocefiscal" title="Clique para baixar">
      <img src="/images/a4_PB_730x1033.jpg" alt="Clique para baixar">
    </a>
    <div style="margin-top: 20px;" class="fb-like" data-href="http://www.vocefiscal.org/vemproBU/" data-width="250" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
</div>
