---
title: "Você Fiscal — Instruções e material #vemproBU"
---
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/blog">Blog<span style="color: red;"><strong>&#8309;</strong></span></a></li>
      <li><a href="/faq">FAQ</a></li>
      <li class="active"><a href="/vemproBU">Instruções</a></li>
      <li><a href="https://gum.co/promover-vocefiscal" target="_blank">Doe</a></li>
      <li><a href="https://docs.google.com/forms/d/1WC3CUW93fNgVIRCOnyljhxDrZCW8g0HfUTtmG2mAvAU/viewform">Denuncie</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
    <h3 class="text-muted"><a href="/">Você Fiscal</a></h3>
  </div>

  <div class="row">
    <h1>Instruções</h1>
    <ul>
      <li><a href="#fiscalizacao">Como fiscalizar os Boletins de Urna</a></li>
      <li><a href="#conferencia">Como comparar os BUs do 1º turno</a></li>
    </ul>
  </div>

  <hr />

  <div class="row" id="fiscalizacao">
    <h1>Como fiscalizar:</h1>
    <p>
      Resumidamente: chegue na sua seção eleitoral antes das 17h, <strong>exija e fotografe o Boletim de Urna (BU)</strong>. Depois, envie para a gente pelo aplicativo ou pelo site do Você Fiscal.
    </p>
    <p>
      Veja abaixo como fiscalizar o Boletim de Urna, com ou sem o <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank">aplicativo do Você Fiscal</a>:
    </p>
    <iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/3sIE6AxJKkU?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>
      <br />
      Veja no nosso blog outras dicas de como se preparar para o dia: <a href="http://www.vocefiscal.org/blog/como-se-preparar-para-fiscalizar-o-2o-turno/">http://www.vocefiscal.org/blog/como-se-preparar-para-fiscalizar-o-2o-turno/</a>
    </p>
    <p>
      E não esqueça de <a href="http://somos.vocefiscal.org">adotar sua zona eleitoral</a>!
    </p>
  </div>

  <hr />

  <div class="row" id="conferencia">
    <h1>Como comparar os BUs do 1º turno:</h1>
    <script src="https://hackpad.com/GYKgi5AscwC.js?format=html-notitle"></script><noscript><div>Veja <a href="https://hackpad.com/GYKgi5AscwC">"Tutorial de conferência dos BUs"</a> no Hackpad.</div></noscript>
  </div>

  <div class="row text-center">
    <div style="margin-top: 20px;" class="fb-like" data-href="http://www.vocefiscal.org/vemproBU/" data-width="250" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>

</div>
