---
title: "Você Fiscal — Instruções e material #vemproBU"
---
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Abrir navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Você Fiscal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/vemproBU">Instruções e material</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contato">Contato/Imprensa</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row text-center">
    <div class="col-xs-12">
      <h1>Pratique, imprima e divulgue! #vemproBU</h1>
      <p>Veja abaixo como tirar fotos do BU no dia da eleição sem ter o aplicativo do Você Fiscal (qualquer celular com câmera ou câmera digital serve).</p>
      <p><strong>Clique na imagem</strong> para baixar o arquivo em alta resolução para impressão. (Imprima uma vez e tire fotocópias, sai mais barato que imprimir várias.)</p>
      <p>Ah, e não se esqueça de <a href="http://somos.vocefiscal.org" target="_blank">adotar sua zona eleitoral!</a></p>
      <a href="/images/a4_PB.jpg" download="cartaz-vocefiscal" title="Clique para baixar">
        <img class="img-responsive" src="/images/a4_PB_730x1033.jpg" alt="Clique para baixar">
      </a>
      <div style="margin-top: 20px;" class="fb-like" data-href="http://www.vocefiscal.org/vemproBU/" data-width="250" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
  </div>
</div>
