---
title: "Você Fiscal — Contato / Imprensa"
---
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/blog">Blog<span style="color: red;"><strong>&#8309;</strong></span></a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/vemproBU">Instruções</a></li>
      <li><a href="https://docs.google.com/forms/d/1WC3CUW93fNgVIRCOnyljhxDrZCW8g0HfUTtmG2mAvAU/viewform">Denuncie</a></li>
      <li class="active"><a href="/contato">Contato</a></li>
    </ul>
    <h3 class="text-muted"><a href="/">Você Fiscal</a></h3>
  </div>

  <div class="row">
    <h1>Contato / Imprensa</h1>
    <ul>
      <li>Twitter: <a href="https://twitter.com/vocefiscal">https://twitter.com/vocefiscal</a></li>
      <li>Facebook: <a href="https://facebook.com/vocefiscal">https://facebook.com/vocefiscal</a></li>
      <li>Fórum: <a href="https://comunidade.vocefiscal.org">https://comunidade.vocefiscal.org</a></li>
      <li>Email: <a href="mailto:contato@vocefiscal.org">contato@vocefiscal.org</a></li>
      <li>Media kit: <a href="http://bit.ly/vocefiscal-mediakit">http://bit.ly/vocefiscal-mediakit</a></li>
    </ul>
  </div>
</div>
