---
title: "Você Fiscal — Contato / Imprensa"
---
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Abrir navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Você Fiscal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/vemproBU">Instruções e material</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li class="active"><a href="/contato">Contato/Imprensa</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row">
    <div class="col-xs-12">
      <h1>Contato / Imprensa</h1>
      <ul>
        <li>Twitter: <a href="https://twitter.com/vocefiscal">https://twitter.com/vocefiscal</a></li>
        <li>Facebook: <a href="https://facebook.com/vocefiscal">https://facebook.com/vocefiscal</a></li>
        <li>Fórum: <a href="https://comunidade.vocefiscal.org">https://comunidade.vocefiscal.org</a></li>
        <li>Email: <a href="mailto:contato@vocefiscal.org">contato@vocefiscal.org</a></li>
        <li>Media kit: <a href="http://bit.ly/vocefiscal-mediakit">http://bit.ly/vocefiscal-mediakit</a></li>
      </ul>
    </div>
  </div>
</div>
