body { padding: 20px 0; }

.header,
.marketing,
.footer {
  padding: 0 15px;
}

.header    { border-bottom: 1px solid #e5e5e5; }
.header h1 {
  line-height: 40px; 
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 19px;
  width: 248px !important;
  position: relative;
  z-index: 2;
  min-height: 59px !important;
}

.footer {
  border-top: 1px solid #e5e5e5; 
  color: #777;
  padding-top: 19px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px; 
  } 
}


.container-narrow > hr { margin: 30px 0; }

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; 
}

/*.jumbotron .btn {
  font-size: 21px; 
  padding: 14px 24px;
}*/

.marketing        { margin: 40px 0; }
.marketing p + h4 { margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; 
  }

  /* Space out the masthead */
  .header    { margin-bottom: 30px; }
  .jumbotron { border-bottom: 0; }
}
