---
title: "Você Fiscal — Fiscalize a Eleição, Garanta seu Voto"
---

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Abrir navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Você Fiscal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/vemproBU">Instruções e material</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contato">Contato/Imprensa</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Fiscalize a eleição, garanta seu voto</h1>
      <p class="lead">O que acontece com seu voto depois da urna?</p>

      <hr class="style-eight">
      <div class="row">
        <div class="text-center flex-video col-xs-12 embed-responsive embed-responsive-16by9" style="margin: 0 auto;text-align:center;"><iframe src="//www.youtube.com/embed/wQEsHOqXP9s?rel=0" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>
    <p>
      <strong>Há 17 anos, dependemos da votação eletrônica.<br />Há 2 anos, ela foi <em>comprovada</em> insegura.<br /></strong>
    </p>
    <hr />
    <p>
      <em>Este ano</em>, com seu apoio, <strong>vamos fazer algo a respeito</strong>.
    </p>
    <p>
      Baixe o aplicativo no Google Play:
      <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank"><img class="img-responsive play-store" src="/images/googleplay.png" alt="Baixe o Você Fiscal no Google Play" /></a>
    </p>
    <hr />
    <p>
      O <strong>Você Fiscal</strong> é um projeto de <strong>Diego
      Aranha</strong>, professor da UNICAMP, e <strong>Helder Ribeiro</strong>,
      empreendedor digital. O Você Fiscal vai colocar na sua mão e na
      de <strong>todo cidadão e cidadã</strong> o poder de fiscalizar e
      <strong>dar transparência</strong> às eleições. Juntos, vamos fazer uma
      <strong>totalização independente</strong> dos resultados.
    </p>
    <hr />
    <p>
      Participe do mutirão pela transparência nas eleições:
    </p>

    <div>
      <div class="row">
        <div class="col-xs-12">
          <a href="http://somos.vocefiscal.org" class="btn btn-lg btn-success hidden-xs">Adote uma zona eleitoral</a>
          <a href="http://somos.vocefiscal.org" class="btn btn-success visible-xs">Adote uma zona eleitoral</a>
        </div>
      </div>


      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <!-- <div class="addthis_sharing_toolbox" data-url="http://www.vocefiscal.org"></div> -->

    </div>

  </div>

  <div class="row marketing">
    <h2>Por que o Você Fiscal é importante</h2>
    <div class="col-lg-6">
      <h3>Falta segurança</h3>
      <p>Apesar do que é divulgado, a urna eletrônica brasileira tem <a href="http://www.valor.com.br/politica/3573682/urna-eletronica-e-falha-alerta-mp" target="_blank">falhas gravíssimas de segurança</a>.</p>

      <h3>Falta transparência</h3>
      <p><strong>Ninguém da sociedade civil</strong> tem acesso aos detalhes de como os votos são contados pelo software da urna.</p>

      <h3>Falta auditoria</h3>
      <p>Os últimos testes em 2012, mesmo limitados e curtos, <a href="http://www.unb.br/noticias/unbagencia/unbagencia.php?id=6375" target="_blank">quebraram o sigilo do voto</a> com facilidade. O TSE <a href="http://oglobo.globo.com/brasil/tse-nao-fara-teste-publico-das-urnas-eletronicas-antes-das-eleicoes-12715187" target="_blank">suspendeu</a> a realização de novos testes depois disso.</p>
    </div>

    <div class="col-lg-6">
      <h3>Celular na mão</h3>
      <p>O <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank">Você Fiscal</a> é um aplicativo que permite a qualquer eleitor <strong>fiscalizar a urna em que votou</strong>, registrando o Boletim de Urna (BU) ao fim da eleição para <strong>detectar fraudes</strong> através de amostragem colaborativa.</p>

      <h3>Rigor acadêmico</h3>
      <p>O Você Fiscal é iniciativa do <a href="https://www.youtube.com/watch?v=xATaNCsre9Q" target="_blank">Prof. Diego Aranha</a>, da Unicamp, pesquisador respeitado nas áreas de segurança computacional e criptografia.</p>

      <h3>Participação popular</h3>
      <p><strong>A população vota, a população confere.</strong></p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <p>Tome o primeiro passo por eleições mais transparentes em 2014:</p>
      <p><a href="http://somos.vocefiscal.org" class="btn btn-lg btn-success">Adote uma zona eleitoral</a></p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <hr />
      <h2>Como faço para fiscalizar as eleições?</h2>
      <p>
        Resumidamente: chegue na sua seção eleitoral antes das 17h, <strong>exija e fotografe o Boletim de Urna (BU)</strong>. Depois, envie para a gente no email <strong>bu@vocefiscal.org</strong> .
      </p>
      <p>
        Veja abaixo como fiscalizar o Boletim de Urna, com ou sem o <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank">aplicativo do Você Fiscal</a>:
      </p>
      <div class="row">
        <div class="text-center flex-video embed-responsive embed-responsive-16by9 col-xs-12" style="margin: 0 auto;text-align:center;"><iframe src="//www.youtube-nocookie.com/embed/3sIE6AxJKkU?rel=0" frameborder="0" allowfullscreen></iframe></div>
      </div>
      <p>
        Você encontra mais instruções e material de divulgação na seção <a href="/vemproBU">/vemproBU</a>. E não esqueça de <a href="http://somos.vocefiscal.org">adotar sua zona eleitoral</a>!
      </p>
    </div>
  </div>

  <div class="footer text-center">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox" data-url="http://www.vocefiscal.org"></div>

    <p style="font-size: 14px;">
      Você Fiscal 2014 &copy; <a href="https://creativecommons.org/licenses/by/4.0/deed.pt_BR" target="_blank">CC-BY 4.0</a> &middot;
      Doe Bitcoin: <code class="text-muted">1AqGXmn5MyuRopyRu7nCgUavs13yUHZAo6</code> &middot;
      Visite <a href="https://comunidade.vocefiscal.org" target="_blank">nosso fórum</a> <br />
      <a href="http://www.vocefiscal.org/faq">FAQ</a>
    </p>
  </div>

</div> <!-- /container -->
