---
title: "Você Fiscal — Fiscalize a Eleição, Garanta seu Voto"
---

<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Início</a></li>
      <li><a href="/carta-aberta">Carta</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/vemproBU">Instruções</a></li>
      <li><a href="https://docs.google.com/forms/d/1WC3CUW93fNgVIRCOnyljhxDrZCW8g0HfUTtmG2mAvAU/viewform"><strong style="color: red;">Denuncie!</strong></a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
    <h3 class="text-muted"><a href="/">Você Fiscal</a></h3>
  </div>
  <div style="padding-left: 100px; padding-right: 100px; padding-bottom: 50px;" class="alert alert-warning" role="alert">
    <h2 class="text-center">Fiscalizamos!</h2>
    <p style="padding-bottom: 10px; padding-top: 10px;">

      Só quem estava lá para ver! A participação que tivemos no primeiro turno
      foi espetacular! Jamais esperávamos receber tantos BUs (<strong>mais de 15
      mil!</strong>).

    </p>

    <p style="padding-bottom: 10px;">

      Se você foi fiscalizar BU, sabe a alegria que foi sair da seção eleitoral
      com o orgulho de ter participado. <strong>Fizemos história!</strong> Isso é
      só o começo: <a
      href="http://www.diariodocentrodomundo.com.br/a-urna-eletronica-brasileira-e-um-caso-para-o-procon/"
      target="_blank">há muita transparência para cobrar</a>, e podemos (e
      vamos) fazer muito mais juntos!

    </p>
    <p style="padding-bottom: 10px;">

      Esse sucesso todo é ótimo, mas também é um trabalho enorme para uma equipe de 5 pessoas com
      empregos em tempo integral, família, e contas para pagar. Fomos pegos de surpresa!

    </p>
    <p style="padding-bottom: 10px;">

      Vamos precisar dar um tempo da Internet para usar bem nosso tempo e
      processar os dados que recebemos o quanto antes, então não estranhe o
      silêncio: estamos trabalhando!

    </p>

    <p style="padding-bottom: 10px;">

      Precisamos ser muito cautelosos e analisar com todo o cuidado os dados
      para tirarmos conclusões técnicas sérias, isentas e confiáveis. Pode levar
      semanas.

    </p>

    <p style="padding-bottom: 10px;">

      No meio tempo, já dá para ir treinando para o segundo turno. Aprendemos
      muito com essa primeira experiência, e temos certeza que você também pegou
      uns macetes. Com o que nós fiscais aprendemos neste primeiro experimento,
      temos certeza que o impacto no segundo turno será maior ainda!

    </p>

    <p>

      O que você precisa saber: receberemos BUs até 23:59 de 6 de outubro de
      2014. Conforme fizermos progresso na análise dos dados, postaremos
      atualizações na nossa <a href="https://www.facebook.com/VoceFiscal">página
      do Facebook</a>. Por favor, acompanhe por lá, e divulgue para termos uma
      participação ainda maior dia 26 de outubro. Obrigado pela paciência e
      parabéns pelo feito histórico deste fim de semana: é o seu exemplo que nos
      inspira a continuar.

    </p>

    <p>
      Abraço,<br />
      Equipe Você Fiscal
    </p>

  </div>
  <div class="jumbotron">
    <h1>Fiscalize a eleição, garanta seu voto</h1>
    <p class="lead">O que acontece com seu voto depois da urna?</p>

    <hr class="style-eight">
    <div class="text-center"><iframe width="580" height="327" src="//www.youtube.com/embed/wQEsHOqXP9s?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <p>
      <strong>Há 17 anos, dependemos da votação eletrônica.<br />Há 2 anos, ela foi <em>comprovada</em> insegura.<br /></strong>
    </p>
    <hr />
    <p>
      <em>Este ano</em>, com seu apoio, <strong>vamos fazer algo a respeito</strong>.
    </p>
    <p>
      Baixe o aplicativo no Google Play:
      <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank"><img src="/images/googleplay.png" alt="Baixe o Você Fiscal no Google Play" /></a>
    </p>
    <hr />
    <p>
      O <strong>Você Fiscal</strong> é um projeto de <strong>Diego
      Aranha</strong>, professor da UNICAMP, e <strong>Helder Ribeiro</strong>,
      empreendedor digital. O Você Fiscal vai colocar na sua mão e na
      de <strong>todo cidadão e cidadã</strong> o poder de fiscalizar e
      <strong>dar transparência</strong> às eleições. Juntos, vamos fazer uma
      <strong>totalização independente</strong> dos resultados.
    </p>
    <hr />
    <p>
      Participe do mutirão pela transparência nas eleições:
    </p>

    <div>

      <a href="http://somos.vocefiscal.org" class="btn btn-lg btn-success">Adote uma zona eleitoral</a>

      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <!-- <div class="addthis_sharing_toolbox" data-url="http://www.vocefiscal.org"></div> -->

    </div>

  </div>

  <div class="row marketing">
    <h2>Por que o Você Fiscal é importante</h2>
    <div class="col-lg-6">
      <h3>Falta segurança</h3>
      <p>Apesar do que é divulgado, a urna eletrônica brasileira tem <a href="http://www.valor.com.br/politica/3573682/urna-eletronica-e-falha-alerta-mp" target="_blank">falhas gravíssimas de segurança</a>.</p>

      <h3>Falta transparência</h3>
      <p><strong>Ninguém da sociedade civil</strong> tem acesso aos detalhes de como os votos são contados pelo software da urna.</p>

      <h3>Falta auditoria</h3>
      <p>Os últimos testes em 2012, mesmo limitados e curtos, <a href="http://www.unb.br/noticias/unbagencia/unbagencia.php?id=6375" target="_blank">quebraram o sigilo do voto</a> com facilidade. O TSE <a href="http://oglobo.globo.com/brasil/tse-nao-fara-teste-publico-das-urnas-eletronicas-antes-das-eleicoes-12715187" target="_blank">suspendeu</a> a realização de novos testes depois disso.</p>
    </div>

    <div class="col-lg-6">
      <h3>Celular na mão</h3>
      <p>O <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank">Você Fiscal</a> é um aplicativo que permite a qualquer eleitor <strong>fiscalizar a urna em que votou</strong>, registrando o Boletim de Urna (BU) ao fim da eleição para <strong>detectar fraudes</strong> através de amostragem colaborativa.</p>

      <h3>Rigor acadêmico</h3>
      <p>O Você Fiscal é iniciativa do <a href="https://www.youtube.com/watch?v=xATaNCsre9Q" target="_blank">Prof. Diego Aranha</a>, da Unicamp, pesquisador respeitado nas áreas de segurança computacional e criptografia.</p>

      <h3>Participação popular</h3>
      <p><strong>A população vota, a população confere.</strong></p>
    </div>
  </div>

  <div class="row text-center">
    <p>Tome o primeiro passo por eleições mais transparentes em 2014:</p>
    <p><a href="http://somos.vocefiscal.org" class="btn btn-lg btn-success">Adote uma zona eleitoral</a></p>
  </div>

  <div class="row text-center">
    <hr />
    <h2>Como faço para fiscalizar as eleições?</h2>
    <p>
      Resumidamente: chegue na sua seção eleitoral antes das 17h, <strong>exija e fotografe o Boletim de Urna (BU)</strong>. Depois, envie para a gente no email <strong>bu@vocefiscal.org</strong> .
    </p>
    <p>
      Veja abaixo como fiscalizar o Boletim de Urna, com ou sem o <a href="https://play.google.com/store/apps/details?id=org.vocefiscal" target="_blank">aplicativo do Você Fiscal</a>:
    </p>
    <iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/3sIE6AxJKkU?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>
      Você encontra mais instruções e material de divulgação na seção <a href="/vemproBU">/vemproBU</a>. E não esqueça de <a href="http://somos.vocefiscal.org">adotar sua zona eleitoral</a>!
    </p>
  </div>

  <div class="footer text-center">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox" data-url="http://www.vocefiscal.org"></div>

    <p style="font-size: 14px;">
      Você Fiscal 2014 &copy; <a href="https://creativecommons.org/licenses/by/4.0/deed.pt_BR" target="_blank">CC-BY 4.0</a> &middot;
      Doe Bitcoin: <code class="text-muted">1AqGXmn5MyuRopyRu7nCgUavs13yUHZAo6</code> &middot;
      Visite <a href="https://comunidade.vocefiscal.org" target="_blank">nosso fórum</a> <br />
      <a href="http://www.vocefiscal.org/faq">FAQ</a>
    </p>
  </div>

</div> <!-- /container -->
