---
title: "Você Fiscal — Fiscalize a Eleição, Garanta seu Voto"
---

<div class="container">
  <div class="header">
    <!-- <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Início</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Contato</a></li>
    </ul> -->
    <h3 class="text-muted text-center">Você Fiscal</h3>

    <div class="alert alert-success" role="alert" style="display: none;">
      <strong>Show!</strong> Obrigado pelo interesse :) Por favor, ajude o Você
      Fiscal a virar realidade compartilhando este site com mais gente.
      Agradecemos muito!
    </div>

  </div>

  <div class="jumbotron">
    <h1>Fiscalize a eleição, garanta seu voto</h1>
    <p class="lead">O que acontece com seu voto depois da urna?</p>

    <hr class="style-eight">
    <p>
      <strong>Há 17 anos, dependemos da votação eletrônica.<br />Há 2 anos, ela foi <em>comprovada</em> insegura*.<br /></strong>
    </p>
    <hr />
    <p>
      <em>Este ano</em>, com seu apoio, <strong>vamos fazer algo a respeito</strong>.
    </p>
    <hr />
    <p>

      O <strong>Você Fiscal</strong> é um projeto do <strong>Prof. Diego Aranha</strong>, da
      Unicamp, para desenvolver um <strong>aplicativo</strong> que vai colocar
      na sua mão e na de <strong>todo cidadão e cidadã</strong> o poder de
      fiscalizar e <strong>dar transparência</strong> às eleições. Juntos, vamos
      fazer uma <strong>apuração independente</strong> dos resultados.

    </p>
    <hr />
    <p>
      >> Em alguns dias, lançaremos a campanha de <strong>financiamento coletivo</strong> que vai tornar este projeto viável. Para ficar sabendo do lançamento e aprender mais sobre o projeto, por favor, deixe seu email:
    </p>

    <!-- <img src="images/cover.png" /> -->
    <!-- <p><a class="btn btn-lg btn-success" href="https://comunidade.vocefiscal.org/t/comece-por-aqui-bem-vind-a-comunidade-voce-fiscal/6" role="button">Descubra conosco</a></p> -->

    <!-- BEGIN CUSTOMER.IO BLOCK -->
    <div id="cio-container">

      <form id="cio_form" class="form-inline" action="https://email-opt-in.herokuapp.com/" method="post">
      <!-- <form id="cio_form" action="http://127.0.0.1:4568/" method="post"> -->

        <div class="form-group">
          <label class="sr-only">Nome</label>
          <input name="name" type="text" placeholder="Primeiro nome" required/>
        </div>
        <div class="form-group">
          <label class="sr-only">E-mail</label>
          <input name="email" type="email" placeholder="Endereço de e-mail" required/>
        </div>
        <button class="btn btn-lg btn-success" type="submit" formmethod="post" formaction="https://email-opt-in.herokuapp.com/">Me avise</button>
        <!-- <button class="btn" type="submit" formmethod="post" formaction="http://127.0.0.1:4568/">Sign up</button> -->
        <p style="font-size: 12px;"><br />Apenas para novidades do Você Fiscal. Spam jamais.<br />*Continue lendo para saber mais sobre a confiabilidade da votação eletrônica.</p>
      </form>
      <!-- END CUSTOMER.IO BLOCK -->

    </div>

  </div>

  <div class="row marketing">
    <h2>Por que o Você Fiscal é importante</h2>
    <div class="col-lg-6">
      <h3>Falta segurança</h3>
      <p>Apesar do que é divulgado, a urna eletrônica brasileira tem <strong>falhas gravíssimas de segurança</strong>.</p>

      <h3>Falta transparência</h3>
      <p><strong>Ninguém da sociedade civil</strong> tem acesso aos detalhes de como os votos são contados pelo software da urna.</p>

      <h3>Falta auditoria</h3>
      <p>Os últimos testes, mesmo limitados e curtos, <strong>quebraram com facilidade o sigilo do voto</strong>. Novos testes foram <strong>suspensos</strong> depois disso.</p>
    </div>

    <div class="col-lg-6">
      <h3>Celular na mão</h3>
      <p>O <strong>Você Fiscal</strong> é um aplicativo que permite a qualquer eleitor <strong>fiscalizar a urna em que votou</strong>, registrando sua contagem ao fim da eleição para <strong>detectar fraudes</strong> através de amostragem colaborativa.</p>

      <h3>Rigor acadêmico</h3>
      <p>O Você Fiscal é iniciativa do <strong>Prof. Diego Aranha</strong>, da Unicamp, pesquisador respeitado nas áreas de segurança computacional e criptografia.</p>

      <h3>Participação popular</h3>
      <p><strong>A população vota, a população confere.</strong></p>
    </div>
  </div>
  <!-- BEGIN CUSTOMER.IO BLOCK -->
  <div id="cio-container2" class="row text-center">
    <p>Quer participar? Deixe seu email para ficar sabendo dos próximos passos:</p>

    <form id="cio_form" class="form-inline" action="https://email-opt-in.herokuapp.com/" method="post">
    <!-- <form id="cio_form" action="http://127.0.0.1:4568/" method="post"> -->

      <div class="form-group">
        <label class="sr-only">Nome</label>
        <input name="name" type="text" placeholder="Primeiro nome" required/>
      </div>
      <div class="form-group">
        <label class="sr-only">E-mail</label>
        <input name="email" type="email" placeholder="Endereço de e-mail" required/>
      </div>
      <button class="btn btn-lg btn-success" type="submit" formmethod="post" formaction="https://email-opt-in.herokuapp.com/">Quero saber</button>
      <!-- <button class="btn" type="submit" formmethod="post" formaction="http://127.0.0.1:4568/">Sign up</button> -->
      <p style="font-size: 12px;"><br />Apenas para novidades do Você Fiscal. Spam jamais.</p>
    </form>
    <!-- END CUSTOMER.IO BLOCK -->

  <div class="row">
    <p class="lead text-center"><a href="https://comunidade.vocefiscal.org/t/comece-por-aqui-bem-vind-a-comunidade-voce-fiscal/6" target="_blank">Dúvida?</a></p>
  </div>


  <div class="footer">
    <p class="text-center">Você Fiscal 2014 &copy; <a href="https://creativecommons.org/licenses/by/4.0/deed.pt_BR" target="_blank">CC-BY 4.0</a> &middot; Ƀ <code class="text-muted">1AqGXmn5MyuRopyRu7nCgUavs13yUHZAo6</code></p>
  </div>

</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
$(document).ready(function () {
  $("div.alert-success").toggle(document.URL.indexOf("opt_in=success") !== -1);
});
</script>
