---
title: "Você Fiscal — Fiscalize sua Urna, Garanta seu Voto"
---

<div class="container">
  <div class="header">
    <!-- <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Início</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Contato</a></li>
    </ul> -->
    <h3 class="text-muted">Você Fiscal</h3>
  </div>

  <div class="jumbotron">
    <h1>Fiscalize sua urna, garanta seu voto</h1>
    <p class="lead">O que acontece com seu voto depois da eleição?</p>
    <p><a class="btn btn-lg btn-success" href="https://comunidade.vocefiscal.org/t/comece-por-aqui-bem-vind-a-comunidade-voce-fiscal/6" role="button">Descubra conosco</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Falta segurança</h4>
      <p>Apesar do que é divulgado, a urna eletrônica brasileira tem <strong>falhas gravíssimas de segurança</strong>.</p>

      <h4>Falta transparência</h4>
      <p><strong>Ninguém da sociedade civil</strong> tem acesso aos detalhes de como os votos são contados pelo software da urna.</p>

      <h4>Falta auditoria</h4>
      <p>Os últimos testes, mesmo limitados e curtos, <strong>quebraram com facilidade o sigilo do voto</strong>. Novos testes foram <strong>suspensos</strong> depois disso.</p>
    </div>

    <div class="col-lg-6">
      <h4>Câmera na mão</h4>
      <p>O <strong>Você Fiscal</strong> permite a qualquer eleitor <strong>fiscalizar a urna em que votou</strong>, registrando sua contagem ao fim da eleição para uma <strong>totalização independente</strong>.</p>

      <h4>Rigor acadêmico</h4>
      <p>O Você Fiscal é iniciativa do <strong>Prof. Diego Aranha</strong>, da Unicamp, pesquisador respeitado nas áreas de segurança computacional e criptografia.</p>

      <h4>Participação popular</h4>
      <p><strong>A população vota, a população confere.</strong></p>
    </div>
  </div>
  <div class="row">
    <p class="lead text-center"><a href="https://comunidade.vocefiscal.org/t/comece-por-aqui-bem-vind-a-comunidade-voce-fiscal/6">Saiba mais</a></p>
  </div>


  <div class="footer">
    <p class="text-center">Você Fiscal 2014 &copy; <a href="https://creativecommons.org/licenses/by/4.0/deed.pt_BR" target="_blank">CC-BY 4.0</a> &middot; Ƀ <code class="text-muted">1AqGXmn5MyuRopyRu7nCgUavs13yUHZAo6</code></p>
  </div>

</div> <!-- /container -->
