---
title: "Você Fiscal — Fiscalize sua Urna, Garanta seu Voto"
---

<div class="welcome">
  <h1>Você Fiscal</h1>
  <p>
    <%= link_to "Read Documentation", "http://middlemanapp.com/" %>
  </p>
</div><!-- .welcome -->
